<h1 style="color: green">Object Oriented Programming Python - Homework </h1>

In [ ]:
'''

Hridoy Ahmed
Daffodil International University
Dept. of Computer Science & Engineering
Web: hridoyahmed.pythonanywhere.com
Email: hridoy15-7981@diu.edu.bd
Facebook Profile: https://web.facebook.com/HridoyAhmedCSE

'''

<h3 style='color:red'>Problem 1 </h3>

Fill in the Line class methods to accept coordinates as a pair of tuples and return the slope and distance of the line.

In [16]:
class Line():
    
    def __init__ (self, coor1, coor2):
        
        self.coor1 = coor1
        self.coor2 = coor2
        #self.x1 = coor1[0]
        #self.x2 = coor1[1]
        #self.y1 = coor2[0]
        #self.y1 = coor2[1]
    
    def distance(self):
        
        x1, y1 = self.coor1
        x2, y2 = self.coor2
        
        
        return ((x2-x1)**2 + (y2-y1) **2) ** 0.5
    
    def slope(self):
        
        x1, y1 = self.coor1
        x2, y2 = self.coor2
        
        return ((y2 - y1) / (x2 - x1))

In [17]:
# Example Output

coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1, coordinate2)

In [18]:
li.distance()

9.433981132056603

In [19]:
li.slope()

1.6

<h3 style='color:red'>Problem 2 </h3>

Fill in the class.

In [20]:
class Cylinder():
    
    def __init__(self, height=1, radius=1):
        
        self.height = height
        self.radius = radius
        
    def volume(self):
        
        return self.height * 3.14 * (self.radius)**2
    
    def surface_area(self):
        
        top = 3.14 * (self.radius**2)
        
        return (2*top) + (2*3.14*self.radius*self.height)

In [21]:
# Example Output

c = Cylinder(2,3)

In [22]:
c.volume()

56.52

In [23]:
c.surface_area()

94.2

<h3 style='color:red'>Challenge </h3>

In [158]:
class BankAccount():
    
    def __init__(self, owner, balance):
        
        self.owner = owner
        self.balance = balance
        
        if(self.balance < 500):
            print(f'Sorry, {self.owner} you have to deposit at least 500 Tk for creating your account.')
        
        else:
            print(f'Welcome to Dutch Bangla Bank. \nThanks, {self.owner} for creating your account.')
    
    def deposit(self, dep_amount):
        
        self.balance = self.balance + dep_amount
        print(f'Added {dep_amount} TK to the balance \nYour Current Balance is {self.balance} TK')
    
    def withdraw(self, wd_amount):
        
        if((wd_amount + 500) <= self.balance): # Put minimum 500Tk in your Account
            
            self.balance = self.balance - wd_amount
            
            if (wd_amount < 500):  # Can't Withdraw less than 500
                print('Sorry! You can\'t withdraw less than 500 TK')
                
            else:
                print(f'You have successfully withdrawn {wd_amount} TK \nYour Current Balance is {self.balance} TK')
            
        else:
            print(f'Sorry! You have not Sufficiant Balance, Deposit minimum {wd_amount - self.balance} TK and Try Again')
    
    def __str__(self):
        
        return f'Owner : {self.owner} \nBalance: {self.balance}'

In [159]:
# 1. Instantiate the class
account1 = BankAccount('Hridoy Ahmed', 500)

Welcome to Dutch Bangla Bank.
Thanks, Hridoy Ahmed for creating your account.

In [160]:
aacount2 = BankAccount('Noob2Pro', 300)

Sorry, Noob2Pro you have to deposit at least 500 Tk for creating your account.

In [161]:
# 2.Print the object
print(account1)

Owner : Hridoy Ahmed
Balance: 500

In [162]:
# 3. Show the account owner attribute
account1.owner

'Hridoy Ahmed'

In [163]:
# 4. Show the account balance attribute
account1.balance

500

In [164]:
# 5. Make a series of deposits and withdrawals
account1.deposit(2000)

Added 2000 TK to the balance
Your Current Balance is 2500 TK

In [165]:
account1.withdraw(200)

Sorry! You can't withdraw less than 500 TK

In [166]:
account1.withdraw(500)

You have successfully withdrawn 500 TK
Your Current Balance is 1800 TK

In [167]:
# 6. Make a withdrawal that exceeds the available balance
account1.withdraw(2000)

Sorry! You have not Sufficiant Balance, Deposit minimum 200 TK and Try Again

In [168]:
account1.deposit(55500)

Added 55500 TK to the balance
Your Current Balance is 57300 TK

In [169]:
account1.withdraw(50000)

You have successfully withdrawn 50000 TK
Your Current Balance is 7300 TK

================================ Allah Hafez ====================================